{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} Password Reset {% endblock head_title %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            {% if validlink %}
                <p>Insert and confirm new password</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" class="btn btn-info" value="Change Password">
                </form>
            {% else %}
                <h2>Error</h2>
                <h4> This link is not valid anymore</h4>
            {% endif %}
        </div>
    </div>
{% endblock content %}