{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} Change Your Password {% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            <h2>The Social Site</h2>
            <h3>Change Your Password</h3>
            <br>
            <p>Put your actual password first, and then two times the new password</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input type="submit" class="btn btn-info" value="Register Now">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <br>
            <p><a href="{% url 'password_reset' %}">Loosing Password?</a></p>
        </div>
    </div>

{% endblock content %}